.container__home img {
    width: 100%;
}

.welcome__msg {
    font-size: 1.5rem;
    background-color: var(--color-bg-light);
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-sub-heading-text);
}

.welcome__msg h3 {
    font-weight: 400;
    color: black;
}

.about__short-home {
    margin-bottom: 1rem;
    text-align: justify;
}

.line {
    height: 2px;
    width: 10%;
    background-color: var(--color-bg-light);
    margin-bottom: 1.5rem;
    margin-left: 45%;
}

.about__short-btn {
    margin-left: 70%;
    background-color: var(--color-bg-light);
}

.about__short-btn:hover {
    background-color: var(--color-bg-hover);
}

.row {
    margin-bottom: 2rem;
    text-align: justify;
}

.line__services-short {
    height: 2px;
    width: 30%;
    background-color: var(--color-bg-light);
    margin-bottom: 1.5rem;
    margin-left: 35%;
}

.our__services-short {
    text-align: center;
    margin-bottom: 2rem;
}

.our__services-short h3 {
    font-weight: 300
}

.our__services-short h5 {
    color: var(--color-sub-heading-text);
}

.our__services-short small {
    display: flex;
    padding: 0 11rem;
    text-align: justify;
}


@media screen and (max-width:1200px) {
    .about__short-home {
        font-size: 1.5rem;
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
        text-align: justify;
        padding: 0 0;
    }

    .our__services-short small {
        padding: 0 3.5rem;
    }
}



@media screen and (max-width:600px) {
    .row {
        font-size: 0.85rem;
    }

    .our__services-short small {
        padding: 0 0.8rem;
    }
}