.navbar__position {
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    opacity: 1;
    z-index: 2;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -6rem;
    margin-right: -10rem;
}

.logo__img {
    width: 20%;
}

.navbar-light,
.dropdown-menu {
    background-color: var(--color-bg-light);
}


.service__heading {
    display: flex;
}

.service__down {
    /* padding-top: 2rem; */
}

.service__down:hover .service__drop-down {
    opacity: 1;
    z-index: 2;
    position: absolute !important;
}


.service__drop-down {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    margin-left: -10rem !important;
    padding-top: 1rem;
    opacity: 0;
    position: fixed !important;
    z-index: -2 !important;
}

.dropdown-toggle::after {
    display: none;
}


@media screen and (max-width:992px) {
    .service__drop-down {
        display: none !important;
        margin-left: 0 !important;
    }

    .dropdown-toggle::after {
        display: inline-block;
    }

    .show {
        opacity: 1;
        position: relative !important;
        z-index: 2 !important;
        display: block !important;
    }
}