.row__footer {
    background-color: var(--color-bg-light);
    color: var(--color-sub-heading-text);
    padding: 1rem 1rem;
    margin: 0;
}


.col__contact ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.col__contact ul li {
    padding-right: 0.5rem;
}

.col__contact a:hover {
    color: var(--color-text-hover);
}

.col__footer {
    display: flex;
    flex-direction: column;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: var(--color-sub-heading-text);
    align-items: center;
    text-align: left;
}

.col__footer a:hover {
    color: var(--color-text-hover);
}

.gmap {
    width: 18rem;
    height: 10rem;
    border: 1px solid var(--color-sub-heading-text);
    border-radius: 5%;
}

.gmap:hover {
    border-color: var(--color-text-hover);
}

.col__footer h5 {
    margin: 0rem;
    padding-bottom: 0.5rem;
}

.col__footer span {
    text-align: center;
}

@media screen and (max-width:1200px) {
    .row__footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:865px) {
    .row__footer {
        grid-template-columns: 1fr;
    }

    .col__footer {
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width:600px) {
    .gmap {
        width: 20.5rem;
        height: 12rem;
    }
}