.row__footer {
    background-color: var(--color-bg-light);
    color: var(--color-sub-heading-text);
    padding: 1rem 1rem;
    margin: 0;
}

.col__footer {
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: var(--color-sub-heading-text);
}

.col__contact ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.col__contact ul li {
    padding-right: 0.5rem;
}

.col__contact a:hover {
    color: var(--color-text-hover);
}

@media screen and (max-width:1200px) {
    .row__footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:865px) {
    .row__footer {
        grid-template-columns: 1fr;
    }

    .col__footer {
        border-left: none;
        border-right: none;
    }
}